<%- include('./templates/header.ejs') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
 
    <div class="eform">
      <form action="/update" method="post">
        <fieldset>
            <legend>Employee edit form</legend>
            <input type="hidden" name="id" value="<%= records._id %>">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= records.name %>" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= records.email %>" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="etypeee">Employee Type</label>
                <select id="etypeee" name="etype">
                  <option value="hourly"<% if(records.eType === "hourly"){ %> selected <% } %> >Hourly</option>
                  <option value="fixed" <% if(records.eType === "fixed"){ %> selected <% } %> >Fixed</option>
                </select>
                <%# <input type="text" id="etype" name="etype" value="" placeholder="Enter etype"> %>
            </div>
            <div class="form-group">
                <label for="hrate">Hourly Rate</label>
                <input type="number" id="hrate" name="hrate" value="<%= records.hourlyRate %>" placeholder="Enter hrate">
            </div>
            <div class="form-group">
                <label for="thour">Total Hours</label>
                <input type="number" id="thour" name="thour" value="<%= records.totalHour %>" placeholder="Enter thour">
            </div>
              <input class="btn" type="submit" type="button" name="submit" value="submit edit">
        </fieldset>
    </form>
    </div>
<%- include('./templates/footer.ejs') %>
 