<%- include('./templates/header.ejs') %>

    <h1><%= title %></h1>
    <% if(success !== ''){ %>
        <div id="success">
            <strong> Success! </strong><%= success %>
        </div>
    <% } %>
    <p>Welcome to <%= title %></p>
 
    <div class="eform">
      <form  action="/upload" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload form</legend>
            <div class="form-group">
                <label for="file">Upload File</label>
                <input type="file" id="file" name="file" placeholder="Upload file">
            </div>
                <input class="btn" type="submit" type="button" name="submit" value="submit form">
        </fieldset>
     </form>
    </div>

<%- include('./templates/footer.ejs') %>
